{% extends 'todo/base.html' %}

{% block title %} Todo List {% endblock %}

{% block content %}
<br>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class"alert alert-{{message.tags}}" {% endif %} role="alert"> {{message}}</li>
        {% endfor %}
    </ul>
{% endif %}



<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Task Type</th>
      <th scope="col">Options</th>
    </tr>
  </thead>

  <tbody>
    {% for task in taskList %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{task.name}}</td>
      <td>{{task.description}}</td>
      <td>{{task.task_type}}</td>
      <td>
        <a class="btn btn-primary" href="{% url 'todoEdit' task.id %}">Edit</a> <a class="btn btn-danger" href="{% url 'todoDelete' task.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
